extends layout

block content
    #b_mainmap.b_mainmap-fon
    .b_objects-heading 
      a(href="/") Поиск
      |  / 
      a(href="/offices:"+office.officeObject)= office.officeObjectName +', '+ office.officeAdres 
      |  / 
      strong= office.officeDescription + ': ' + office.officeArea
        | м 
        sup 2

    .b_slider-current.b_slider.mobile
      img(src= imgFolder+office.images[0], alt='')
      .b_slider-points
    .b_office_params-container
      .b_office_params
        .b_office_params-heading-container
          .bmark-trigger(data-title='Добавить в закладки', id= office.officeId)
          .b_office_params-heading= heading
          .b_office_params-totalprice= 'Цена за всю площадь: '+office.officePrice+'р.'
          .clearfix
        .b_office_params-description-container
          .b_office_params-description-price
            | Цена за м
            sup 2
            | : 
            span= office.officeSubprice
              | р.
          .b_office_params-description-square
            | Площадь: 
            span= office.officeArea
              | м
              sup 2
          .clearfix
          .b_office_params-description-tel
            | Тел. собственника: 
            span= office.officeOwner
        .b_office_params-options-container
          .b_office_params-options-heading
             | В арендную плату входит:
          //- .b_office_params-options-feaches
          //-   .b_office_params-options-feaches-icon.electric
          //-   .b_office_params-options-feaches-text  Электроэнергия
          //- .b_office_params-options-feaches
          //-   .b_office_params-options-feaches-icon.guard
          //-   .b_office_params-options-feaches-text  Охрана здания
          //- .b_office_params-options-feaches
          //-   .b_office_params-options-feaches-icon.trash
          //-   .b_office_params-options-feaches-text  Вывоз ТБО
          ul.b_office_params-options-jkh
            - for (var i = office.includes.length - 1; i >= 0; i--)
              li= office.includes[i]
          .b_office_params-options-heading.network
             | Дополнительные услуги:
          ul.b_office_params-options-jkh
            - for (var i = office.extendes.length - 1; i >= 0; i--)
              li= office.extendes[i]
          .b_office_params-options-heading.network
            | Доступные провайдеры:
          ul.b_office_params-options-network
            - for (var i = office.providers.length - 1; i >= 0; i--)
              li= '- '+office.providers[i]
        .b_office_params-callback-container
          .b_office_params-callback-icon
          .b_office_params-callback-text Заказать звонок >
          .clearfix
        .b_office_params-callback-form
          .b_office_params-callback-form-text
            | Оставьте свой номер телефона и мы вам перезвоним!
          input#bodycallbackfield(type='tel', name='tel', placeholder='Номер телефона')
          input#bodycallbacksend(type='submit', value='заказать звонок')
        .b_office_params-backlink-container
          hr
          | 					Вернуться в 
          a(href='/') ПОИСК
    .b_slider-container
      .b_slider
        .b_slider-current
          img(src=  imgFolder+office.images[0], alt='')
          .b_slider-points
        .b_slider-thumbs
          .b_slider-rule.totop
          .b_slider-thumbs-container
            .b_slider-thumbs-wrap
              -for (var i = office.images.length-1; i >= 0; i-- ) 
                .b_slider-thumbs-item.slide-1
                  img(src= imgFolder+office.images[i], alt='')
          .b_slider-rule.todown
        .clearfix
      .b_likeas
        .b_likeas-heading Похожие объекты недвижимости
        .b_likeas-container
          - if (office.likeas.length > 0)
            - for (var i = office.likeas.length - 1; i >= 0; i--)
              -if (office.likeas[i])
                a(href="/currentoffice:"+office.likeas[i].officeId)
                  .b_likeas-item
                    img(src=imgFolder+office.likeas[i].officeImage, alt='')
          - else
            p Нет похожих помещений
          //- .b_likeas-item
            
          //- .b_likeas-item
          //-   img(src='img/DSC04588.jpg', alt='')
          //- .b_likeas-item
          //-   img(src='img/DSC04588.jpg', alt='')
          //- .b_likeas-item
          //-   img(src='img/DSC04588.jpg', alt='')
    .clearfix
    footer
      a(name='footer')
      include ./footer.jade